<% if user_signed_in? %>
  <div class='nav-admin'>
    <p>
      <%= t('.admin_panel', name: current_user.first_name) %> <%= link_to 'Guru', admin_tests_path %>
    </p>

    <p>
      <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
    </p>
  </div>
<% end %>
