<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), [:admin, gist.question] %></td>
  <td><%= link_to 'Gist URL', gist.url, target: :blank %></td>
  <td><%= gist.user.email %></td>
</tr>
