<footer>
  <p>
  <%= current_year %> | Maksim Korelskii | <%= github_url('MaksimKorelskii', 'TestGutu')  %>
  </p>
  <p>Учебный проект по курсу "Основы Ruby on Rails" </p>
  <p>Веб-приложение для викторин и тестов.</p>
  <%= link_to 'Онлайн-школа Thinknetica', 'http://thinknetica.com/', target: :blank, 'rel': 'no-follow' %>
</footer>
