<li>
  <%= answer.body %><br>
  <%= link_to 'Show', admin_answer_path(answer), class: "btn btn-secondary btn-sm" %>
  <%= link_to 'Edit', edit_admin_answer_path(answer), class: "btn btn-secondary btn-sm" %>
  <%= link_to 'Destroy', 
              admin_answer_path(answer), 
              method: :delete, 
              data: { confirm: 'Are you sure?' }, 
              class: "btn btn-secondary btn-sm" %>
</li>
